{
    "env": {
        "node": true,
        "browser": false
    },
    "extends": [
        "eslint:recommended",
        "plugin:mocha/recommended",
        "plugin:prettier/recommended"
    ],
    "parserOptions": {
        "ecmaVersion": "latest"
    }
}
